<{% extends "base.html" %}
{% block content %}
	<div class="box_spacer">
		<div class="box_spacer"></div>
		<div class="message_box">
			<a href="javascript:;" class="cancel_message_button">x</a>
			<span class="message"></span>
		</div>
	</div>
	<div id="forgot_box">
		<table class="form_table">
			<tr>
				<td><span class="label">E-mail Address</span></td>
				<td><input type="text" id="email" class="text_input" /></td>
			</tr>
		</table>
		<p>
			<a href="index.html" class="button">Cancel</a>
			<a href="javascript:;" id="send_new_password" class="button">Send Me a New Password</a>
		</p>
	</div>
{% endblock %}
{% block scripts %}
	<script language="javascript" type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}