{% extends "base.html" %}
{% block content %}
	<div class="box_spacer">
		<div class="box_spacer"></div>
		<div class="message_box">
			<a href="javascript:;" class="cancel_message_button">x</a>
			<span class="message"></span>
		</div>
	</div>
	<div id="signin_box">
		<div id="signin_form_wrapper">
			<form id="signin_form" action="" method="post" name="login">
				{{loginform.hidden_tag()}}
				<h3 class="form_title">Sign In</h3>
				<table class="form_table">
					<tr>
						<td><span class="label">Username</span></td>
						<td>{{loginform.username(id="username", class="text_input")}}</td>
					</tr>
					<tr>
						<td><span class="label">Password</span></td>
						<td>{{loginform.password(id="password", class="text_input")}}</td>
					</tr>
				</table>
				<div class="form_actions">
					<a href="forgot.html" class="link form_link">Forgot your password?</a>
					<a href="javascript:;" id="signin" class="button form_button">Sign in</a>
				</div>
			</form>
		</div>
		<div id="form_divider">
			<div id="divider"></div>
		</div>
		<div id="register_form_wrapper">
			<form id="register_form" action="" method="post" name="register">
				{{registerform.hidden_tag()}}
				<h3 class="form_title">Register</h3>
				<table class="form_table">
					<tr>
						<td><span class="label">E-mail Address</span></td>
						<td>{{registerform.email(id="email", class="text_input")}}</td>
					</tr>
					<tr>
						<td><span class="label">Username</span></td>
						<td>{{registerform.username(id="username", class="text_input")}}</td>
					</tr>
					<tr>
						<td><span class="label">Password</span></td>
						<td>{{registerform.password(id="password", class="text_input")}}</td>
					</tr>
					<tr>
						<td><span class="label">Re-type Password</span></td>
						<td>{{registerform.confirmpassword(id="re_password", class="text_input")}}</td>
					</tr>
				</table>
				<div class="form_actions">
					<a href="javascript:;" id="register" class="button form_button">Register</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script language="javascript" type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}