/* Entire Page */

body {
	font-family: Arial;
	font-size: 10pt;
}

a {
	color: black;
	text-decoration: none;
}


/* Header and Footer */

#header {
	top: 0px;
	height: 30px;
}

#footer {
	bottom: 0px;
	height: 20px;
}

#title {
	font-size: 20pt;
	font-weight: bold;
}

#zoom * {
	float: left;
}

#zoom #slider {
	width: 400px;
	margin: 15px;
	bottom: 14px;
}

.right {
	float: right;
}

.static_bar {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 15px;
	background-color: #E8E8E8;
}

.icon {
	margin-left: 15px;
	padding: 5px;
	font-size: 12pt;
	font-weight: bold;
}

.button {
	padding: 6px;
	margin: 2px;
	color: white;
	text-decoration: none;
	border-radius: 5px;

	background: #A02B2C; /* Old browsers */
	background: -moz-linear-gradient(top, #B53032 0%, #A02B2C 44%, #6B1D1E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B53032), color-stop(44%,#A02B2C), color-stop(100%,#6B1D1E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B53032 0%,#A02B2C 44%,##6B1D1E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}


/* Panes */

#public_events_feed {
	left: -1px;
}

#attending_events_feed {
	right: -1px;
}

.content {
	position: absolute;
	top: 60px;
	bottom: 45px;
}

.events_feed * {
	float: left;
}

.public_pane {
	left: 0px;
}

.attending_pane {
	right: 0px;
}

.pane {
	height: 100%;
	width: 400px;
}

.pane_button {
	margin-top: 10px;
	padding: 5px;
}

.slide_box {
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
}


/* Workspace */

#graph {
	left: 0px;
	right: 0px;
}


/* Event Page */

.info {
	float: left;
}