/* Entire Page */

body {
	font-family: Arial;
	font-size: 10pt;
}

a {
	color: black;
	text-decoration: none;
}

p {
	margin: 5px;
	margin-top: 10px;
}


/* Header and Footer */

#header {
	top: 0px;
	height: 30px;
}

#footer {
	bottom: 0px;
	height: 20px;
}

#title {
	font-size: 20pt;
	font-weight: bold;
}

#zoom * {
	float: left;
}

#zoom #slider {
	width: 400px;
	margin: 15px;
	bottom: 14px;
}

.right {
	float: right;
}

.static_bar {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px;
	padding: 15px;
	background-color: #E8E8E8;
}

.icon {
	position: relative;
	top: 5px;
	margin-left: 15px;
	padding: 5px;
}

.icon_text {
	position: relative;
	bottom: 4px;
	font-size: 12pt;
	font-weight: bold;
}

.icon_image {
	width: 20px;
	height: 20px;
}

.icon_image_long {
	width: 30px;
	height: 20px;
}

a.button {
	padding: 6px;
	margin: 2px;
	color: white;
	text-decoration: none;
	border-radius: 5px;

	background: #A02B2C; /* Old browsers */
	background: -moz-linear-gradient(top, #B53032 0%, #A02B2C 44%, #6B1D1E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B53032), color-stop(44%,#A02B2C), color-stop(100%,#6B1D1E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B53032 0%,#A02B2C 44%,##6B1D1E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

a.button:hover {
	background: #A02B2C;
}

a.button.force_css {
	padding: 6px;
	margin: 2px;
	color: white;
	text-decoration: none;
	border-radius: 5px;

	background: #A02B2C; /* Old browsers */
	background: -moz-linear-gradient(top, #B53032 0%, #A02B2C 44%, #6B1D1E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B53032), color-stop(44%,#A02B2C), color-stop(100%,#6B1D1E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B53032 0%,#A02B2C 44%,##6B1D1E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B53032 0%,#A02B2C 44%,#6B1D1E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

a.button.force_css:hover {
	background: #A02B2C;
}


/* Panes */

#public_events_feed {
	left: -1px;
}

#attending_events_feed {
	right: -1px;
}

.content {
	position: absolute;
	top: 60px;
	bottom: 45px;
}

.events_feed * {
	float: left;
}

.public_pane {
	left: 0px;
}

.attending_pane {
	right: 0px;
}

.pane {
	height: 100%;
	width: 400px;
}

.pane_button {
	margin-top: 10px;
	padding: 5px;
}

.slide_box {
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;

	box-shadow: 0px 0px 3px 3px #E0E0E0;
 	-webkit-box-shadow: 0px 0px 3px 3px #E0E0E0;
 	-moz-box-shadow: 0px 0px 3px 3px #E0E0E0;
}


/* Form Boxes */

.form_box {
	height: 350px;
	width: 400px;
	position: absolute;
	right: 15px;
	bottom: -351px;
}

#accordion {
	margin: 7px;
	width: 386px;
}



/* Workspace */

#graph {
	left: 0px;
	right: 0px;
}


/* Event Page */

.bottomless_content {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#topper {
	height: 30px;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#event_imgage_wrapper {
	float: left;
	width: 350px;
	height: 350px;
}

#event_text {
	float: left;
	height: 350px;
}

#attender {
	position: absolute;
	right: 0px;
	top: 370px;
}

#upper {
	height: 370px;
	width: 100%;
}

#grid {
	background-color: green;
}

#event_image {
	height: 340px;
	width: 340px;
	margin: 5px;
}

.info {
	padding: 5px;
	margin: 5px;
}

#back_link {
	position: relative;
	top: 3px;
}

.topper_text {
	position: relative;
	bottom: 4px;
	font-size: 12pt;
	font-weight: bold;
}

#share {
	float: right;
}

#share_link {
	position: relative;
	bottom: 2px;
	margin-left: 5px;
}

.event_text_title {
	font-size: 60px;
	font-weight: bold;
}

.event_text_info {
	font-size: 28px;
}


/* Login Page */

.text_input {
	width: 180px;
	padding: 2px;
}

.label {
	font-weight: bold;
}

.link {
	text-decoration: underline;
	color: navy;
}

.form_table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.box_spacer {
	height: 25%;
	width: 100%;
}

.message_box {
	display: none;
	position: relative;

	width: 450px;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;
	border: 1px;
	border-style: solid;
	border-radius: 5px;
	text-align: center;

	background-color: #DDFFD4;
	border-color: #D1F2D1;
}

.cancel_message_button {
	position: absolute;
	top: 0px;
	right: 4px;

	font-weight: bold;
	color: #003300;
}

.message {
	color: #003300;
}

.error_box {
	background-color: #FFDDD4;
	border-color: #F2D1D1;
}

.error_text {
	color: #A02B2C;
}

#signin_box {
	width: 300px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	padding: 10px;
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 5px;
	text-align: center;
}


/* Register Page */

#register_box {
	width: 350px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	padding: 10px;
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 5px;
	text-align: center;
}


/* Forgot Page */

#forgot_box {
	width: 350px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	padding: 10px;
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 5px;
	text-align: center;
}


/* Settings Page */

#settings_box {
	width: 400px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;

	padding: 10px;
	background-color: #FFFFF5;
	border: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	border-radius: 5px;
	text-align: center;
}

