{% extends "base.html" %}
{% block libraries %}
	<script src="../static/js/res/knockout.min.js"></script>
	<script src="../static/js/res/jquery.gridster.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/res/gridster.css">
{% endblock %}
{% block content %}
	<div id="topper" class="info">
		<a href="/workspace" id="back_link">
			<img src="../static/img/glyphicons/glyphicons_216_circle_arrow_left.png" class="icon_image"> 
			<span class="topper_text">Return to workspace</span>
		</a>
		<div id="top_right">
			{% block top_right %}{% endblock %}
		</div>
	</div>

	<div id="upper">
		<div id="event_imgage_wrapper" class="info">
			{% block event_image %}{% endblock %}
		</div>

		<div id="event_text" class="info">
			{% block event_text %}{% endblock %}
		</div>

		<div id="attender_contact">
			{% block attender_contact %}{% endblock %}
		</div>
		<div id="attender_links">
			{% block attender_links %}{% endblock %}
		</div>
	</div>

	<div id="grid_wrapper" class="info">
		<div id="grid">
			<button data-bind="click: AddOne" id="add_item">Add</button>
			<div id="gridster">
			    <ul id="layout" data-bind="foreach: myData">
			        <li class="new" data-bind="attr:{
							'data-row':datarow,
							'data-col':datacol,
							'data-sizex':datasizex,
							'data-sizey':datasizey
						},html:html, doubleClick: $parent.AddOne"></li>
			    </ul>
			</div>
		</div>
		<div id="grid_spacer"></div>
	</div>
{% endblock %}
{% block scripts %}
	<script language="javascript" type="text/javascript" src="../static/js/event.js"></script>
{% endblock %}