{% extends "base_event.html" %}
{% block top_right %}
	<img src="../static/img/glyphicons/glyphicons_043_group.png" class="icon_image_long">
	<span class="topper_text">Share This Event
	<input type="text" id="share_link" class="text_input" value="www.wololo.com" readonly></span>
{% endblock %}
{% block event_image %}
	<img src="../static/img/buildings/none.png" id="event_image">
{% endblock %}
{% block event_text %}
	<p class="event_text_title">{{event.name}}</p>
	<p class="event_text_info">Hosted by {{event.creator}}</p>
	<p class="event_text_info">{{event.start}} - {{event.end}}</p>
	<p class="event_text_info">{{event.date}}</p>
	<p class="event_text_info">{{event.place}}</p>
{% endblock %}
{% block attender_contact %}
	{% if anonymous and not attending %}
		<span class="label">Email</span>
		<input type="text" id="attender_email" class="text_input" />
	{% endif %}
{% endblock %}
{% block attender_links %}
	{% if not attending %}
		<a href="javascript:;" id="attending" class="link_button">Attending</a>
	{% endif %}
	{% if creator %}
		{% if not invites_sent %}
			<a href="javascript:;" id="send_invites" class="link_button">Send Invites</a>
		{% endif %}
		<a href="/event_edit" id="edit_event" class="link_button">Edit</a>
	{% endif %}
{% endblock %}