<{% extends "base.html" %}
{% block content %}
	<div class="box_spacer">
		{{message_box|safe}}
	</div>
	<div id="forgot_box">
		<form id="forgot_form" action="/forgot" method="post">
			{{forgot_form.hidden_tag()}}
			<table class="form_table">
				<tr>
					<td><span class="label">E-mail Address</span></td>
					<td>{{forgot_form.email(id="email", class="text_input")}}</td>
				</tr>
			</table>
			<p>
				<a href="/index" class="button">Cancel</a>
				<a href="javascript:;" id="send_new_password" class="button">Send Me a New Password</a>
			</p>
		</form>
	</div>
{% endblock %}
{% block scripts %}
	<script language="javascript" type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}