{% extends "base.html" %}
{% block content %}
	<div id="graph" class="content">
		<canvas id="workspace" width="1920" height="960"></canvas>
	</div>

	<div id="public_events_feed" class="content events_feed">
		<div id="public_pane" class="pane slide_box">
			<h2 class="events_feed_title">Public Events Feed</h2>
			<div id="public_events_scrollarea" class="events_feed_scrollarea"></div>
			<div class="events_feed_filter">
				<table class="events_feed_table">
					<tr>
						<td class="filter_label">Filter</td>
						<td colspan="2"><input type="text" class="text_filter" id="public_text_filter" /></td>
					</tr>
					<tr>
						<td class="filter_label">From</td>
						<td class="date_filter_cell"><input type="text" class="date_filter" id="public_from" readonly /></td>
						<td><input type="checkbox" id="public_repeats" />Display Repeats</td>
					</tr>
					<tr>
						<td class="filter_label">To</td>
						<td class="date_filter_cell"><input type="text" class="date_filter" id="public_to" readonly /></td>
						<td><input type="submit" class="link_button" id="public_search" value="Search" /></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="pane_button">
			<a href="javascript:;" id="public_events_button">
				<img src="../static/img/glyphicons/glyphicons_224_chevron-left.png" />
			</a>
		</div>
	</div>

	<div id="attending_events_feed" class="content events_feed">
		<div class="pane_button">
			<a href="javascript:;" id="attending_events_button">
				<img src="../static/img/glyphicons/glyphicons_223_chevron-right.png" />
			</a>
		</div>
		<div id="attending_pane" class="pane slide_box">
			<h2 class="events_feed_title">Attending Events Feed</h2>
			<div id="attending_events_scrollarea" class="events_feed_scrollarea"></div>
			<div class="events_feed_filter">
				<table class="events_feed_table">
					<tr>
						<td class="filter_label">Filter</td>
						<td colspan="2"><input type="text" class="text_filter" id="attending_text_filter" /></td>
					</tr>
					<tr>
						<td class="filter_label">From</td>
						<td class="date_filter_cell"><input type="text" class="date_filter" id="attending_from" readonly /></td>
						<td><input type="checkbox" id="attending_repeats" />Display Repeats</td>
					</tr>
					<tr>
						<td class="filter_label">To</td>
						<td class="date_filter_cell"><input type="text" class="date_filter" id="attending_to" readonly /></td>
						<td><input type="submit" class="link_button" id="attending_search" value="Search" /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div id="add_event_form" class="form_box slide_box hidden closed"></div>

	<div id="add_contact_form" class="form_box slide_box hidden closed"></div>

	<div id="footer" class="static_bar align_bottom">
		<span id="zoom">
			<span id="icon_zoomout">
				<a href="javascript:;" id="zoomout"><img src="../static/img/glyphicons/glyphicons_237_zoom_out.png" class="image_sm" /></a>
			</span>
			<div id="slider"></div>
			<span id="icon_zoomin">
				<a href="javascript:;" id="zoomin"><img src="../static/img/glyphicons/glyphicons_236_zoom_in.png" class="image_sm" /></a>
			</span>
		</span>
		<span id="buttons" class="right">
			<a href="javascript:;" id="add_event" class="link_button">Add Event</a>
			<a href="javascript:;" id="add_contact" class="link_button">Add Contact</a>
		</span>
	</div>
{% endblock %}
{% block scripts %}
	<!--Arborjs: http://arborjs.org-->
	<script language="javascript" type="text/javascript" src="../static/js/res/arbor.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/res/arbor-graphics.js"></script>

	<script language="javascript" type="text/javascript" src="../static/js/renderer.js"></script>
	<script language="javascript" type="text/javascript" src="../static/js/workspace.js"></script>

	{% for e in public_events %}
		<script>
			public_events.add_event(
				{{e.name}},
				{{e.start}},
				{{e.end}},
				{{e.date}},
				{{e.place}},
				{{e.image}},
				{{e.key}});
		</script>
	{% endfor %}

	{% for e in attending_events %}
		<script>
			attending_events.add_event(
				{{e.name}},
				{{e.start}},
				{{e.end}},
				{{e.date}},
				{{e.place}},
				{{e.image}},
				{{e.key}});
		</script>
	{% endfor %}

	{% for e in created_events %}
		<script>
			add_event(
				{{e.name}},
				{{e.image}},
				{{e.start}},
				{{e.end}},
				{{e.attending}});
		</script>
	{% endfor %}

	{% for e in created_contacts %}
		<script>
			add_contact(
				{{e.name}},
				{{e.image}},
				{{e.email}});
		</script>
	{% endfor %}
{% endblock %}